extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Psychotherapist, 
  h1.verify Verification code 
  h1.code #{code}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  //- a(href=`${url}`, target='_blank') 
  p If you need any help, please don't hesitate to contact us!
  p - Psychotherapist